# API URL - required
## 由于官方网站可能存在 CORS 问题，您可以使用反向代理来解决（请自行搭建）。
## Due to potential CORS issues with the official website, you can use a reverse proxy to resolve this (please set it up yourself).
## 有关详细信息，请参阅项目 README.md。
## For more details, please refer to the project README.md.
API_URL="https://api.uptimerobot.com/v2/"

# UptimeRobot Api Keys - required
## 本项目只需要只读 API 密钥
## This project only requires Read-only API key
## https://dashboard.uptimerobot.com/integrations
API_KEY=""

# Deployment platform - required
## 部署平台
## cloudflare (默认) | auto
## 如果您使用 cloudflare 以外的平台，请改为 auto
## If you use a platform other than cloudflare, please change to auto
DEPLOYMENT_PLATFORM="cloudflare"

# Site Title - 站点标题
SITE_TITLE="Kee's Server Status"

# Site Description - 站点描述
SITE_DESCRIPTION="一个简约的站点监测 | a simple site-status pages, power by uptimerobot"

# Site Keywords - 站点关键词
SITE_KEYWORDS="站点监测,监测,监控"

# Site Logo - 站点图标
SITE_LOGO="/favicon.ico"

# ICP Filing - ICP 备案
## 在中国，您需要提供 ICP（互联网内容提供商）备案号。
## In China, you need to provide an ICP (Internet Content Provider) filing number.
## https://beian.miit.gov.cn/
SITE_ICP=""

# Count Days - 统计天数
## 统计的天数
## The number of days to count
## 建议填写 30 - 90
## You are advised to fill in 30 - 90
COUNT_DAYS=60

# Show Links - 显示链接
## 是否显示站点链接
## Whether to show sites links
SHOW_LINKS=true

# Show Overall Uptime - 显示整体在线率
## 是否显示整体在线率
## Whether to show overall uptime
SHOW_OVERALL_UPTIME=true

# Password - 密码
## 如果您想保护数据，可以设置密码
## If you want to protect the data, you can set a password
SITE_PASSWORD=""

## JWT 验证密钥，必填
## Key used for jwt verification, required
SITE_SECRE_KEY="site-status"